.container {
  padding: 15px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  @include vp-700 {
    padding: 15px 0;
    width: 610px;
  }

  @include vp-1020 {
    width: 930px;
  }

  @include vp-1340 {
    width: 1250px;
  }
}
