.advantages {
  padding: 50px 15px;
  background-color: #f7eee5;
  
  @include vp-700 {
    padding: 60px 15px;
  }

  @include vp-1020 {
    padding: 80px 40px;
  }

  @include vp-1340 {
    padding: 100px 60px 125px 60px;
  }
}

.advantages__list {
  @include vp-1020 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 35px;
  }
}

.advantages__title {
  color: #0a3b93;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;

  @include vp-1020 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @include vp-1340 {
    margin-bottom: 60px;
  }
}

.advantages__content {
  background-color: #0a3b93;
  color: #ffffff;
  padding: 20px;
  position: relative;
  min-height: 106px;

  @include vp-1020 {
    min-height: 165px;
  }

  @include vp-1340 {
    min-height: 139px;
  }
}

.advantages__description {
  font-size: 14px;

  @include vp-1020 {
    font-size: 18px;
    line-height: 22px;
  }
}

.advantages__img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 178px;
  object-fit: cover;
}

.advantages__button {
  position: absolute;
  bottom: 26px;
  right: 20px;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.2s ease;
  z-index: 3;

  & svg {
    transition: all 0.2s ease;
  }

  @include hover-focus {
    color: #8296d8;
  }
}

.advantages__item--open-info svg {
  transform: rotate(45deg) scale(1.3);
}

.advantages__info {
  color: #ffffff;
  opacity: 0;
  z-index: 2;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: #0a3b93;
  transition: opacity 0.2s ease;
}

.advantages__item--open-info .advantages__info {
  opacity: 1;
}